<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Hello {{who.toUpperCase()}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 *ngIf="!greeting; else showGreeting">
    Enter greeting</h3>
  <ng-template #showGreeting>
      <h3>{{greeting}}</h3>
  </ng-template>

  <br>
  <input type="text" [(ngModel)]="greeting" (keyup)="keyPressed($event)">
  <br>
  <button ion-button (click)="buttonClicked()">Click Me</button>
  <ul>
    <li *ngFor="let f of fruits">
      Name: {{f}}
    </li>
  </ul>
  <h3> My favorite fruits are {{fruits.length}}</h3>
</ion-content>
